@import '../../scss/index';

.wrapper {
  background-color: $color-secondary;
  color: $color-white;
}

.main-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__right {
    flex: 1;
    width: 100%;
  }

  &__left {
    flex: 1;
    width: 100%;
    padding: 20px 40px 60px 70px;
    position: relative;

    box-shadow: 9px 0 5px 0 fade_out($color-black, 0.97);
    border-right: 1px solid $color-secondary-more-darkness;
  }
}

.outer-shadow {
  box-shadow: 10px 10px 5px 0 fade_out($color-black, 0.97);
}
