@import '../../../scss/index';

.edit-profile {
  margin-top: -30px;
  align-self: flex-start;
  width: 100%;

  &-form {
    display: flex;
    flex-direction: column;

    &__group {
      align-self: center;
      margin-bottom: 20px;
      width: 300px;

      & input {
        @include box-shadow();

        width: 100%;
        padding: 16px;
        border-radius: 7px;
        border: none;
        background: fade_out($color-primary-dark, 0.2);
        color: $color-grey;
        outline: none;

        &:focus {
          background-color: $color-primary-darker;
          color: $color-grey;
        }
      }

      & .invalid-feedback {
        padding-left: 16px;
        color: $color-primary-darker;
      }
    }
  }
}

.btn.save {
  @include create-red-button();
  width: 300px;
  border-color: $color-secondary-more-darkness;
  margin: 0 auto 20px;
}
