@import '../../../scss/index';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin bdrs($bdrs) {
  border-radius: $bdrs;
}

* {
  outline: none;
  user-select: none;
}

.profile {
  @include size(400px, 100px);
  transform: translate(10%, 0%);
  @include bdrs(5px);
  background-color: $color-grey-dark;
  color: $color-secondary-darker;
  @include box-shadow();
  animation: show-profile 0.5s forwards ease-in-out;
  margin-bottom: 30px;

  @keyframes show-profile {
    0% {
      width: 0;
    }
  }

  .photo,
  .content {
    box-sizing: border-box;
  }

  .photo {
    @include size(100px, 100px);
    @include bdrs(50%);
    overflow: hidden;
    border: 5px solid $color-grey-light;
    background-color: $color-grey-light;
    margin-left: -50px;
    @include box-shadow();
    animation: rotate-photo 0.5s forwards ease-in-out;

    @keyframes rotate-photo {
      100% {
        transform: rotate(-360deg);
      }
    }

    img {
      width: 100%;
    }
  }

  .content {
    padding: 10px;
    overflow: hidden;
    position: absolute;
    @include size(100%, 100%);
    top: 0;
    left: 0;

    &:before {
      content: '';
      position: absolute;
      @include size(300px, 150px);
      background-color: $color-grey;
      left: 0;
      top: -20px;
      z-index: -1;
      transform: rotate(-8deg);
    }

    .text {
      margin-top: 10px;
      margin-left: 60px;

      h3,
      h6 {
        font-weight: normal;
        margin: 3px 0;
        letter-spacing: 0.5px;
        white-space: nowrap;
      }

      .row {
        display: flex;
        width: 65%;
        justify-content: space-between;
        align-items: baseline;

        .left {
        }

        .right {
        }
      }
    }

    .btn {
      background-color: $color-secondary;
      @include size(50px, 50px);
      position: absolute;
      right: 25px;
      top: 25px;
      @include bdrs(50%);
      @include box-shadow();
      z-index: 10;
      cursor: pointer;
      transition-duration: 0.3s;
      animation: pop-btn 0.3s both ease-in-out 0.5s;

      @keyframes pop-btn {
        0% {
          transform: scale(0);
        }
        80% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }

      &:hover {
        box-shadow: 0 0 5px 5px $color-grey-darker;
        background-color: $color-primary;

        span,
        span:before,
        span:after {
          transition: all 300ms ease-in-out;
          background-color: $color-secondary-lighter;
        }
      }

      span {
        @include size(60%, 2px);
        position: absolute;
        background-color: $color-grey-light;
        top: 50%;
        left: 15%;
        transform: translateY(-50%);
        animation: to-hamburger 0.3s forwards ease-in-out;

        &:before,
        &:after {
          content: '';
          @include size(100%, 2px);
          position: absolute;
          background-color: $color-grey-light;
          transition-duration: 0.3s;
          transform: rotate(0deg);
          left: 2px;
        }

        &:before {
          margin-top: -7px;
        }

        &:after {
          margin-top: 7px;
        }
      }

      &.active {
        span {
          animation: to-arrow 0.3s forwards ease-in-out;

          &:before,
          &:after {
            width: 60%;
            left: 14.3px;
          }

          &:before {
            transform: rotate(30deg) translateY(3px);
          }

          &:after {
            transform: rotate(-30deg) translateY(-3px);
          }
        }
      }
    }

    @keyframes to-hamburger {
      from {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
    @keyframes to-arrow {
      from {
        transform: translateY(-50%) rotate(0deg);
      }
      to {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .box {
    @include size(150px, 150px);
    opacity: 0;
    @include bdrs(50%);
    background-color: rgba($color-grey-light, 0.5);
    position: absolute;
    top: 50%;
    right: -40%;
    transform: translate(-50%, -50%);
    transition-duration: 0.3s;
    z-index: 5;

    div {
      @include size(50px, 50px);
      @include bdrs(50%);
      background-color: $color-secondary-darker;
      color: $color-grey-light;
      position: absolute;
      left: 18px;
      top: calc(75px - 50px / 2);
      box-shadow: 0 0 0.5rem $color-grey-dark;
      //@include box-shadow();
      transition-duration: 0.3s;
      cursor: pointer;

      svg {
        fill: $color-grey-light;
        width: 30px;
        height: 30px;
        position: absolute;
        left: calc((50px - 30px) / 2);
        top: 10px;
      }

      &:hover {
        transition-delay: initial !important;
        box-shadow: 0 0 5px 5px $color-grey-darker;
        background-color: $color-primary;

        svg {
          fill: $color-secondary-lighter;
        }
      }
    }

    &.open {
      opacity: 1;

      div {
        left: 50px;
        $item: 3;
        @for $i from 0 through ($item - 1) {
          $deg: 90deg / ($item - 1);
          &:nth-of-type(#{$i + 1}) {
            transform: rotate($deg * $i - 70)
              translateX(80px)
              rotate(-$deg * $i + 70);
            transition-delay: 0.1s * $i;
          }
        }
      }
    }
  }
}
