@import '../../../scss/index';

div.bg-full {
  background-image: url('britan.jpg');
}

.bg-full {
  position: relative;
  background: center center no-repeat;
  background-color: $color-secondary-darker;
  background-size: cover;
  height: 100vh;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      fade-out($color-primary, 0.4) 100%,
      $color-primary 0%
    );
    z-index: 0;
  }
}

.inner-shadow {
  height: 100vh;
  position: relative;
  box-shadow: inset 0 -43px 34px -34px rgba(88, 88, 88, 0.2);
}

.header {
  position: relative;
  width: 100%;
  padding: 45px 10px 0 60px;
  display: flex;
  font-size: 14px;

  nav {
    margin-left: auto;
  }
}

.header__menu {
  & ul {
    margin: 0;
    padding: 15px 50px 0 0;

    & li {
      display: inline-block;
    }
  }

  &--link {
    color: $color-grey-light;
    padding: 5px 20px 5px 0;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      color: $color-secondary-lighter;
      transition: all 300ms ease-in-out;
    }
  }
}

.intro {
  position: absolute;
  transform: translate(-10%, -50%);
  top: 50%;
  left: 10%;
  z-index: 1;
  width: 50%;

  & h1 {
    line-height: 1.1;
    color: $color-grey-light;
  }

  & h5 {
    line-height: 1.5;
    color: $color-grey;
    letter-spacing: 1.3px;
  }

  & .divider {
    margin: 22px 0;
    width: 40px;
    height: 2px;
    background-color: rgba(232, 232, 232, 0.26);
  }
}
