@import '../../../../scss/index';

.intro {
  position: absolute;
  transform: translate(-10%, -50%);
  top: 50%;
  left: 10%;
  z-index: 1;
  width: 50%;

  & h1 {
    line-height: 1.1;
    color: $color-grey-light;
  }

  & h5 {
    line-height: 1.5;
    color: $color-grey;
    letter-spacing: 1.3px;
  }

  & .divider {
    @include dividerLine();
  }
}
