@import '../../../scss/index';

.container {
  padding: 2% 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  h2 {
    margin-top: 0;
    color: $color-grey;
    text-shadow: 2px 2px 2px $color-primary;
  }
}

.signIn-form {
  width: 350px;
  display: flex;
  flex-direction: column;

  &__group {
    margin-bottom: 20px;

    & input {
      @include box-shadow();

      width: 100%;
      padding: 16px;
      border-radius: 7px;
      border: none;
      background: fade_out($color-primary-dark, 0.2);
      color: $color-grey;
      outline: none;

      &:focus {
        background-color: $color-primary-darker;
        color: $color-grey;
      }
    }

    & .invalid-feedback {
      padding-left: 16px;
      color: $color-secondary-lightest;
    }
  }

  &--link {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    margin-top: 20px;
    color: $color-white;
    width: 100%;

    &:hover {
      @include border-and-border-radius($color-white);
      @include box-shadow();
    }
  }
}

.red-btn {
  @include create-red-button(100%, 47px);
}
