@import 'variables';

@mixin box-shadow() {
  box-shadow: 4px 4px 7px fade_out($color-primary-dark, 0.7);
}

@mixin border-and-border-radius($border-color) {
  border: 2px solid $border-color;
  border-radius: 7px;
}

@mixin create-red-button(
  $width: 100px,
  $height: 40px,
  $font-size: 14px,
  $font-weight: 600
) {
  @include box-shadow();
  @include border-and-border-radius($color-secondary);
  @include common-text-styles($font-size, $font-weight);
  @include common-nav-el-styles();

  font-family: inherit;
  width: $width;
  height: $height;
  background-color: $color-secondary;

  &:disabled {
    background-color: rgba($color-grey-darker, 0.5);
    border-color: $color-grey-darker;
    color: $color-primary;

    &:hover {
      background-color: rgba($color-grey-darker, 0.5);
      color: $color-primary;
      cursor: not-allowed;
    }
  }

  &:hover {
    background-color: $color-primary-dark;
    color: $color-secondary;
  }
}

@mixin common-text-styles($size: 14px, $weight: 600) {
  text-transform: uppercase;
  font-size: $size;
  font-weight: 600;
  color: $color-grey-light;
}

@mixin common-nav-el-styles() {
  cursor: pointer;
  outline: none;
  transition: 0.25s ease-in-out;
}

@mixin create-secondary-link(
  $width: 100px,
  $height: 40px,
  $font-size: 14px,
  $font-weight: 600
) {
  @include box-shadow();
  @include border-and-border-radius($color-secondary);
  @include common-text-styles($font-size, $font-weight);
  @include common-nav-el-styles();

  width: $width;
  height: $height;
  background-color: $color-secondary;
  text-decoration: none;

  &:disabled {
    background-color: $color-grey-darkest;
    color: $color-white;
  }

  &:hover {
    background-color: $color-primary-dark;
    color: $color-secondary;
  }
}

@mixin dividerLine() {
  margin: 22px 0;
  width: 40px;
  height: 2px;
  background-color: rgba(232, 232, 232, 0.26);
}

@mixin title-h1-styles() {
  margin-bottom: 50px;
  color: $color-grey-light;
  letter-spacing: 2.5px;
  line-height: 1.1;
}
