@import 'variables';

@mixin create-red-button() {
  text-transform: uppercase;
  width: 100px;
  height: 40px;
  border-radius: 7px;
  font-size: 12px;
  //line-height: 30px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 4px 4px 7px fade_out($color-primary-dark, 0.7);
  outline: none;
  transition: 0.25s ease-in-out;

  background-color: $color-secondary;
  border: 2px solid $color-secondary;
  color: $color-white;

  &:disabled {
    background-color: $color-grey-darkest;
    color: $color-white;
  }

  &:hover {
    background-color: $color-primary-dark;
    color: $color-secondary;
  }
}
