@import 'variables';

@mixin box-shadow() {
  box-shadow: 4px 4px 7px fade_out($color-primary-dark, 0.7);
}

@mixin border-and-border-radius($border-color) {
  border: 2px solid $border-color;
  border-radius: 7px;
}

@mixin create-red-button() {
  @include box-shadow();
  @include border-and-border-radius($color-secondary);

  text-transform: uppercase;
  width: 100px;
  height: 40px;
  font-size: 12px;
  //line-height: 30px;
  cursor: pointer;
  font-weight: 600;

  outline: none;
  transition: 0.25s ease-in-out;

  background-color: $color-secondary;
  color: $color-white;

  &:disabled {
    background-color: $color-grey-darkest;
    color: $color-white;
  }

  &:hover {
    background-color: $color-primary-dark;
    color: $color-secondary;
  }
}
