$color-black: #000;
$color-white: #fff;

//Primary
$color-primary: #333; //rgba(51, 51, 51, 1)
$color-primary-dark: #212121; //rgba(33, 33, 33, 1)
$color-primary-darker: rgba(18, 18, 18, 1);

//Secondary
$color-secondary-lightest: rgba(231, 100, 95, 1);
$color-secondary-lighter: rgba(201, 113, 99, 1);
$color-secondary-light: rgba(153, 85, 74, 1);
$color-secondary: rgba(139, 63, 54, 1);
$color-secondary-dark: rgba(133, 63, 54, 1);
$color-secondary-darker: rgba(129, 60, 52, 1);

//Neutral
$color-grey-light: #f5f5f5;
$color-grey: #eee;
$color-grey-dark: #dcdcdc;
$color-grey-darker: #b4b4b4;
$color-grey-darkest: #666;
