@import '../../../scss/variables';
@import '../../../scss/mixins';

h4 {
  margin-top: 0;
  font-size: 24px;
  padding-top: 20px;
  color: $color-grey-light;
}

p {
  font-size: 18px;
  color: $color-grey;
  &:last-child {
    margin-bottom: 0;
  }
}

.divider-line {
  @include dividerLine();
}
